.show-guide
  %img.show-guide__image{src: @guide.image, alt: "ガイドトップ写真"}
  .show-guide__title
    .title
      = @guide.title
    .like
      - if Like.find_by(user_id: current_user.id, guide_id: @guide.id)
        = link_to guide_like_path(@guide.id), method: :delete do
          = icon("fas", "heart")
      - else
        = link_to guide_likes_path(@guide.id), method: :post do
          = icon("far", "heart")
      = @likes_count
  .show-guide__outline
    = @guide.body
  .show-guide__detail
    = link_to "#", class: "next-btn" do
      続きを読む
  .show-guide__form-area
    = form_for [@guide, @comment] do |f|
      = f.text_field :text, class: "form-message", placeholder: "コメントを書く（任意）"
      = f.submit "Send", class: "form-btn"
  .show-guide__comment
    .contents
      - @comments.each do |comment|
        .content
          .content__items
            .user
              %img.user__image{src: comment.user.image, alt: "プロフィール写真"}
              .user__name
                = comment.user.name
          .content__message
            = comment.text