.side-bar 
  .side-bar__user
    .top-items
      .top-items__user
        %img.top-items__user__image{src: @user.image, alt: "プロフィール写真"}
        .top-items__user__name
          = current_user.name
      .top-items__icon
        = link_to edit_user_path(current_user), class: "setting-btn" do
          = icon('fas', 'cog')
  .side-bar__like
    .title
      = icon('fas', 'thumbs-up')
      いいね
    .contents
      = link_to "#" do
        %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      = link_to "#" do
        %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}        
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}        
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}       
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
  .side-bar__buy
    .title
      = icon('fas', 'shopping-cart')
      購入済みガイド
    .contents
      = link_to "#" do
        %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}        
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}
      %img.contents__image{src: "/user_images/default_user.jpeg", alt: "ガイドトップ画像"}